* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#marsinfo {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem;
}

.banner-video{width: 100%;}

@media all and (max-width: 540px) {
  #marsinfo div {
    width: 100%;
    left: 0;
    top: 40vw;
  }
}
